@import url("./wpg.css");

@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @critical;
  }
}

/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

  /* COLORS */

  @define-color bg @backgroundAlpha;
  @define-color fg @foreground;
  @define-color warning @color5;
  @define-color critical @color6;

  @define-color dark-bg @color1;
  @define-color dark-fg @foreground;

  @define-color med-bg @color2;
  @define-color med-fg @foreground;

  @define-color light-bg @color7;
  @define-color light-fg @background;

  /* Reset all styles */
  * {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
  }

  /* The whole bar */
  #waybar {
    background: @bg;
    color: @fg;
    font-weight: bold;
  }

  /* Each module */
  #battery,
  #clock,
  #cpu,
  #custom-layout,
  #memory,
  #mode,
  #network,
  #pulseaudio,
  #temperature,
  #custom-alsa,
  #custom-pacman,
  #custom-weather,
  #custom-gpu,
  #tray,
  #backlight,
  #language,
  #custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  /* Each module that should blink */
  #mode,
  #memory,
  #temperature,
  #battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  /* Each critical module */
  #memory.critical,
  #cpu.critical,
  #temperature.critical,
  #battery.critical {
    color: @critical;
  }

  /* Each critical that should blink */
  #mode,
  #memory.critical,
  #temperature.critical,
  #battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
  }

  /* Each warning */
  #network.disconnected,
  #memory.warning,
  #cpu.warning,
  #temperature.warning,
  #battery.warning {
    background: @warning;
    color: @fg;
  }

  /* Each warning that should blink */
  #battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
  }

  /* And now modules themselves in their respective order */

  #mode { /* Shown current Sway mode (resize etc.) */
    color: @light-fg;
    background: @light-bg;
  }

  /* Workspaces stuff */

  #workspaces {
    /*   color: #D8DEE9;
    margin-right: 10px;*/
}

#workspaces button {
  font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
  opacity: 0.3;
  background: none;
  color: @light-bg;
  font-size: 1em;
}

#workspaces button.focused {
  background: @light-bg;
  color: @light-fg;
  opacity: 1;
}

#workspaces button.urgent {
  border-color: @critical;
  color: @light-fg;
  opacity: 1;
}

#window {
  margin-right: 40px;
  margin-left: 40px;
  font-weight: normal;
}
#custom-weather {
  background: @dark-bg;
  font-weight: bold;
  padding: 0 0.6em;
}
#custom-pacman {
  background: @med-bg;
  color: @med-fg;
  font-weight: bold;
  padding: 0 0.6em;
}
#custom-scratchpad-indicator {
  background: @light-bg;
  color: @light-fg;
  font-weight: bold;
  padding: 0 0.6em;
}
#idle_inhibitor {
  background: @med-bg;
  /*font-size: 1.6em;*/
  font-weight: bold;
  padding: 0 0.6em;
}

#network {
  background: @dark-bg;
  color: @dark-fg
}

#cpu {
  background: @med-bg;
  color: @med-fg;
}
#cpu.critical {
  color: @light-fg;
}
#custom-cpugovernor {
  background-color: @med-bg;
  color: @med-fg;
}
#custom-cpugovernor.perf {

}
#temperature {
  background-color: @med-bg;
  color: @med-fg;
}
#temperature.critical {
  background:  @critical;
  color: @light-fg;
}

#battery {
  background: @med-bg;
}

#backlight {
  background: @dark-bg;
  color: @dark-fg;
}

#clock {
  background: @dark-bg;
  color: @dark-fg;
}

#pulseaudio { /* Unsused but kept for those who needs it */
  background: @dark-bg;
  color: @dark-fg;
}

#pulseaudio.muted {
  background: @dark-bg;
  color: @light-fg;
}
#pulseaudio.source-muted {
  background: @dark-bg;
  color: @light-fg;
}
#tray {
  background: @dark-bg;
}
